<%- model_class = User -%>

<div class = "container-fluid">
  <!-- start a row -->
  <div class="row-fluid">



    <!-- user info column -->
    <div class = "span4">
      <!-- bold text at the top -->
      <center>
        <div class="page-header">
          <h1><%=t '.title', :default => @user.name %></h1>
        </div>
      </center>

      <p>

      <left>
        <!-- user attributes -->
        <dl class="dl-horizontal">
          <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
          <dd><%= @user.name %></dd>
          <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
          <dd><%= @user.phone_number %></dd>
        </dl>

        <p>

        <!-- list of involved groups -->
        <dl class="dl-horizontal">
          <dt><strong>Groups this user is in:</strong></dt>
          <% @user.all_groups.each do |group|%>
            <dd><%=link_to group.name, group_path(group) %></dd>
          <% end %>
        </dl>
      </left>

      <p>

      <center>

        <!-- bar with back, edit, destroy -->
        <div class="form-actions">
          <%= link_to t('.back', :default => t("helpers.links.back")),
                      users_path, :class => 'btn'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(@user), :class => 'btn' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(@user),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        </div>

        <p>

        <!-- associating groups and users section -->
        <h2>Add Public Groups</h2>
        <%= form_tag "/group_users/multiple/create" do %>
          <Strong>Groups:</Strong></p>
          <p><%= select_tag :groups, options_from_collection_for_select(@groups, "id", "name"), multiple: true, size: "5" %>
          <p><small>Hold Ctrl to select multiple items</small></p>
          <p><%= submit_tag nil, value: "Associate", class: "btn btn-large btn-primary" %>

          <%= hidden_field_tag :user_id, "#{@user.id}" %> 
        <% end %>

        <p>
        <h2>Remove Groups</h2>
        <%= form_tag "/group_users/multiple/destroy" do %>
          <Strong>Groups:</Strong></p>
          <p><%= select_tag :groups, options_from_collection_for_select(@groups_in, "id", "name"), multiple: true, size: "5" %>
          <p><small>Hold Ctrl to select multiple items</small></p>
          <p><%= submit_tag nil, value: "Disassociate", class: "btn btn-large btn-primary" %>

          <%= hidden_field_tag :user_id, "#{@user.id}" %> 
        <% end %>

      </center>
    </div>



    <!-- messaging column -->
    <div class = "span8">
      <center>

        <p><h2>Send a Message</h2>
        <%= form_tag "/group_messages/" do %>
          <p><Strong>Groups:</Strong>
          <p><%= select_tag :group, options_from_collection_for_select(@groups, "id", "name"), multiple: true, size: "5", class: "span12" %>
          <p><%= text_area_tag :history, nil, rows: "15", readonly: true, class: "span12"  %>
          <p><%= text_area_tag :message, nil, rows: "1", class: "span12"  %>
          <p><%= submit_tag nil, value: "Send", class: "btn btn-large btn-primary" %> 

          <%= hidden_field_tag :user_id, "#{@user.id}" %> 
        <% end %>
      </center>
    </div>
  </div>
</div>
