<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle = "collapse" data-target=".nav-collapse"></a>
        <% if signed_in? %>
          <%= link_to "21-TACO-KEYS", user_path(current_user), :class => "brand" %>
        <% else %>
          <%= link_to "21-TACO-KEYS", root_path, :class => "brand" %>
        <% end %>
        <div class ="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Groups", groups_path %></li>
            <li><%= link_to "Analytics", "/dashboard" %></li>
            <li><%= link_to "Help", help_path %></li>
            <% if signed_in? %>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</header>
